<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>My Blog</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="icon" type="image/png" href="assets/img/favicon.png" />
	<link rel="stylesheet" type="text/css"
		href="assets/stylesheets/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css"
		href="assets/stylesheets/main.css" />
</head>
<body>
	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav">
					<li class="divider-vertical"></li>
					<li><a href="#">Main</a></li>
					<li class="active"><a href="#">Blog</a></li>
					<li><a href="#">Projects</a></li>
					<li><a href="#">About Me</a></li>
					<li class="divider-vertical end-bar"></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container main">
		<div class="row">
			<div class="span9 main_content">
			</div>
			<div class="span3 sidebar">
			
				<h1>Spyros' Corner</h1>
				
				
				<p>You can follow me here:</p>
				
				<p>
				<a
						href="https://plus.google.com/116680317998115206519?prsrc=3"
						rel="author" style="text-decoration: none;"><img
							src="https://ssl.gstatic.com/images/icons/gplus-32.png" alt=""
							style="border: 0; width: 32px; height: 32px;" /></a></p>
				<p>
				<a href="https://twitter.com/SpyrosPapag"
						class="twitter-follow-button" data-show-count="false"
						data-size="large" data-show-screen-name="false" data-dnt="true">Follow
							@@SpyrosPapag</a> <script>
								!function(d, s, id) {
									var js, fjs = d.getElementsByTagName(s)[0];
									if (!d.getElementById(id)) {
										js = d.createElement(s);
										js.id = id;
										js.src = "//platform.twitter.com/widgets.js";
										fjs.parentNode.insertBefore(js, fjs);
									}
								}(document, "script", "twitter-wjs");
							</script>
				</p>
			</div>
		</div>
	</div>
</body>
</html>